<div class="col-12">
    <!-- NAV TABS -->
    <ul class="nav nav-pills nav-justified mb-4 p-1  bg-opacity-40 rounded-pill border border-secondary border-opacity-10"
        id="scanTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-pill px-4" id="mission-tab" data-bs-toggle="tab"
                data-bs-target="#mission-pane" type="button" role="tab">
                <i class="fas fa-crosshairs me-2"></i>Mission Overview
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="surface-tab" data-bs-toggle="tab"
                data-bs-target="#surface-pane" type="button" role="tab">
                <i class="fas fa-network-wired me-2"></i>Attack Surface
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="findings-tab" data-bs-toggle="tab"
                data-bs-target="#findings-pane" type="button" role="tab">
                <i class="fas fa-biohazard me-2"></i>Findings
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph-pane"
                type="button" role="tab">
                <i class="fas fa-project-diagram me-2"></i>Attack Graph
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="report-tab" data-bs-toggle="tab"
                data-bs-target="#report-pane" type="button" role="tab">
                <i class="fas fa-file-invoice me-2"></i>Report Builder
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="hood-tab" data-bs-toggle="tab" data-bs-target="#hood-pane"
                type="button" role="tab">
                <i class="fas fa-cogs me-2"></i>Sous le capot
            </button>
        </li>
    </ul>

    <div class="tab-content" id="scanTabsContent">
        <!-- TAB 1: MISSION OVERVIEW -->
        <div class="tab-pane fade show active" id="mission-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/mission_overview.html' %}
            </div>
        </div>

        <!-- TAB 2: ATTACK SURFACE -->
        <div class="tab-pane fade" id="surface-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/attack_surface.html' %}
            </div>
        </div>

        <!-- TAB 3: FINDINGS -->
        <div class="tab-pane fade" id="findings-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/findings.html' %}
            </div>
        </div>

        <!-- TAB 4: ATTACK GRAPH -->
        <div class="tab-pane fade" id="graph-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/attack_graph.html' %}
            </div>
        </div>

        <!-- TAB 5: REPORT BUILDER -->
        <div class="tab-pane fade" id="report-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/report_builder.html' %}
            </div>
        </div>

        <!-- TAB 6: SOUS LE CAPOT -->
        <div class="tab-pane fade" id="hood-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/interface/under_the_hood.html' %}
            </div>
        </div>
    </div>
</div>