<div class="col-12">
    <!-- NAV TABS -->
    <ul class="nav nav-pills nav-justified mb-4 p-1 bg-black bg-opacity-40 rounded-pill border border-secondary border-opacity-10"
        id="scanTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-pill px-4" id="intel-tab" data-bs-toggle="tab"
                data-bs-target="#intel-pane" type="button" role="tab">
                <i class="fas fa-brain me-2"></i>Intelligence Hub
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="enum-tab" data-bs-toggle="tab" data-bs-target="#enum-pane"
                type="button" role="tab">
                <i class="fas fa-search me-2"></i>Recon & Surface
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="vuln-tab" data-bs-toggle="tab" data-bs-target="#vuln-pane"
                type="button" role="tab">
                <i class="fas fa-biohazard me-2"></i>Vulnerabilities
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-pill px-4" id="ops-tab" data-bs-toggle="tab" data-bs-target="#ops-pane"
                type="button" role="tab">
                <i class="fas fa-terminal me-2"></i>Operational Log
            </button>
        </li>
    </ul>

    <div class="tab-content" id="scanTabsContent">
        <!-- TAB 1: INTELLIGENCE HUB -->
        <div class="tab-pane fade show active" id="intel-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/components/breach_report.html' %}
                {% include 'scan_partials/components/observability.html' %}
                {% include 'scan_partials/components/advanced_recon.html' %}
                {% include 'scan_partials/components/cortex_intelligence.html' %}
                {% include 'scan_partials/components/target_dashboard.html' %}
                {% include 'scan_partials/components/intel_analysis.html' %}
                {% include 'scan_partials/components/recon_matrix.html' %}
                {% include 'scan_partials/components/threat_matrix.html' %}
            </div>
        </div>

        <!-- TAB 2: RECON & SURFACE -->
        <div class="tab-pane fade" id="enum-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/components/dns_intel.html' %}
                {% include 'scan_partials/components/visual_recon.html' %}
                {% include 'scan_partials/components/cloud_assets.html' %}
                {% include 'scan_partials/components/email_discovery.html' %}
                {% include 'scan_partials/components/data_leaks.html' %}
                {% include 'scan_partials/components/favicon_intel.html' %}
                {% include 'scan_partials/components/github_leaks.html' %}
                {% include 'scan_partials/components/waf_intel.html' %}
                {% include 'scan_partials/components/arjun_results.html' %}
                {% include 'scan_partials/components/api_discovery.html' %}
                {% include 'scan_partials/components/katana.html' %}
                {% include 'scan_partials/components/whatweb.html' %}
                {% include 'scan_partials/components/ffuf_results.html' %}
            </div>
        </div>

        <!-- TAB 3: VULNERABILITIES -->
        <div class="tab-pane fade" id="vuln-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/components/vuln_classes.html' %}
                {% include 'scan_partials/components/nuclei_results.html' %}
                {% include 'scan_partials/components/xss_results.html' %}
                {% include 'scan_partials/components/js_vulns.html' %}
                {% include 'scan_partials/components/js_secrets.html' %}
                {% include 'scan_partials/components/open_redirects.html' %}
                {% include 'scan_partials/components/wpscan_results.html' %}
                {% include 'scan_partials/wordpress_intel.html' %}
                {% include 'scan_partials/components/security_headers.html' %}
                {% include 'scan_partials/components/critical_infra.html' %}
                {% include 'scan_partials/components/advanced_vulns.html' %}
                {% include 'scan_partials/components/tls_intel.html' %}
                {% include 'scan_partials/components/deep_scan.html' %}
            </div>
        </div>

        <!-- TAB 4: OPERATIONAL LOG -->
        <div class="tab-pane fade" id="ops-pane" role="tabpanel">
            <div class="row g-4">
                {% include 'scan_partials/components/full_findings_log.html' %}
                {% include 'scan_partials/components/execution_log.html' %}
                {% include 'scan_partials/components/command_history.html' %}
            </div>
        </div>
    </div>
</div>