Flask>=3.0.0
Flask-SQLAlchemy>=3.1.1
Flask-SocketIO>=5.3.6
python-dotenv>=1.0.0
python-socketio>=5.11.0
python-engineio>=4.8.0
celery>=5.4.0
redis>=5.0.4
requests>=2.31.0
playwright>=1.40.0
beautifulsoup4>=4.12.0
fpdf2>=2.7.0
markdown>=3.5.0
Click>=8.1.0
Greenlet>=3.0.0
Jinja2>=3.1.0
PyJWT>=2.8.0
SQLAlchemy>=2.0.0
Werkzeug>=3.0.0
dnspython>=2.6.0
gevent>=24.2.0
itsdangerous>=2.1.0
kombu>=5.3.0
pyopenssl>=24.0.0
termcolor>=2.4.0
colorama>=0.4.6
tqdm>=4.66.0
urllib3>=2.2.0
mmh3>=4.0.0
mmh3>=4.0.0
